<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <link rel="stylesheet" href="https://guides.github.com/components/primer/markdown.css">
  <link rel="stylesheet" href="{{'/assets/style.css' | url}}">
</head>
<body>

  <aside class="">
    {% include "./nav-tree.njk" %}
  </aside>

  <main>
    <article class="main markdown-body">
      <h1>{{ page.url | toTitle }}</h1>
      {{ content | safe }}
    </article>
  </main>

</body>
</html>