<nav>
  <ul>
    {%- for post in collections.all -%}
      <li class="{% if post.url === page.url %}active{% endif %}">
        <a href="{{ post.url }}">{{ post.url | toTitle }}</a>
      </li>
    {%- endfor -%}
  </ul>
</nav>