html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
}

body > main {
  height: 100%;
  overflow: auto;
  flex: 1;
}

aside {
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  background-color: whitesmoke;
  width: 300px;
  max-width: 25vw;
}

nav {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  display: block;
  padding: 12px;
  color: inherit;
  text-decoration: none;
}

nav li a:hover, nav li.active a {
  background-color: lightgray;
  border-radius: 2px;
}

nav > ul > li > ul > li {
  font-size: 14px;
}

/* Markdown */
.markdown-body.main {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body.main {
    padding: 15px;
  }
}